.heading {
  width: 32rem;
  margin: 0 auto 5rem;
}

.title {
  margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
  .header,
  .content {
    width: 24rem;
  }
}

@media (max-width: 768px) {
  .heading {
    max-width: 480px;
    margin-bottom: 3rem;
  }
}

@media (max-width: 520px) {
  .heading {
    width: auto;
  }
}
