.link {
  text-decoration: none;
}

.link:hover {
  opacity: 1;
}

.button {
  background-color: #1b1b1b;
  width: fit-content;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 5px 40px;
  text-decoration: none;
  color: #dddddd;
  transition: color 0.3s cubic-bezier(0.3, 0.46, 0.45, 0.9),
    background-color 0.3s cubic-bezier(0.3, 0.46, 0.45, 0.9);
}

.button:hover {
  text-decoration: none;
  background-color: #dddddd;
  color: #1b1b1b;
}

.darkButton {
  background-color: #111111;
  width: fit-content;
  border: 1px solid #9a9a9a;
  border-radius: 30px;
  padding: 5px 40px;
  text-decoration: none;
  color: #9a9a9a;
  transition: color 0.3s cubic-bezier(0.3, 0.46, 0.45, 0.9),
    background-color 0.3s cubic-bezier(0.3, 0.46, 0.45, 0.9);
}

.darkButton:hover {
  text-decoration: none;
  background-color: #9a9a9a;
  color: #111111;
}
