.card {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  /* box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.28); */
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.left {
  position: relative;
  z-index: 1;
  max-width: 17.5rem;
  margin: 3.3rem 3.5rem;
  flex-shrink: 0;
}

.right {
  margin-right: 0rem;
}

.image {
  height: 386px;
}

.heading {
  height: 25px;
  margin-bottom: 1.2rem;
  font-weight: 600;
  font-size: 24px;
  color: #111111;
}

.icon {
  height: 25px;
  margin-right: 12px;
  margin-bottom: -4px;
}

.description {
  height: 5.2rem;
  font-size: 18px;
  color: #111111;
  margin-bottom: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.hr {
  width: 7rem;
  height: 1px;
  border: none;
  margin-bottom: 1.5rem;
  background: #111111;
}

.link {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: #111111;
  text-decoration: none;
}

.link object {
  height: 16px;
  margin-right: 12px;
  margin-bottom: -2px;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.link:not(:last-child) {
  margin-right: 1.4rem;
}

@media (max-width: 1024px) {
  .left {
    margin: 2.3rem 2.8rem;
  }
}

@media (max-width: 768px) {
  .right {
    display: none;
  }

  .left {
    margin: 1.7rem 2rem;
  }
}

@media (max-width: 520px) {
  .left {
    margin: 1.2rem 1.5rem;
  }

  .heading {
    margin-bottom: 1rem;
  }

  .description {
    height: 6.5rem;
    margin-bottom: 1rem;
    -webkit-line-clamp: 5;
  }

  .hr {
    margin-bottom: 0.5rem;
  }

  .link {
    margin-top: 0.5rem;
  }

  .link:not(:last-child) {
    margin-right: 1rem;
  }
}
