.heroImage {
  max-height: 480px;
}

.heroImage,
.heroImage * {
  border-radius: 10px;
}

.content > p {
  width: 32rem;
  margin: 0 auto 3rem;
}

.content figcaption {
  text-align: center;
  font-weight: 600;
  opacity: 0.6;
}

.content figure > span,
.content figure > span * {
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .content {
    width: 24rem;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 480px;
  }
}

@media (max-width: 520px) {
  .content {
    width: auto;
  }
}
