.menuButton {
  background-color: transparent;
  border: none;
  width: 28px;
  /* height: 24px; */
  margin-top: 3px;
  /* width: 24px; */
  padding: 0;
  cursor: pointer;
  outline: none;
  display: none;
  /* position: absolute; */
}

.bar {
  display: block;
  background-color: #fdf9f2;
  height: 3px;
  border-radius: 3px;
  transition: all 0.3s;
  position: relative;
}

.bar + .bar {
  margin-top: 6px;
}

/* .bar:nth-of-type(2) {
  margin-top: 6px;
  margin-bottom: 6px;
} */

.open .bar:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.closed .bar:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.open .bar:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.closed .bar:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.open .bar:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.closed .bar:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 9px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 9px;
    transform: rotate(45deg);
  }
  50% {
    top: 9px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 9px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }
}
