.article {
  margin-bottom: 2rem;
}

.link:hover div div h2 {
  opacity: 0.6;
  transition: opacity 0.3s cubic-bezier(0.3, 0.46, 0.45, 0.9);
}

.link:hover {
  text-decoration: none !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  height: 10rem;
  max-width: 28rem;
  border-radius: 20px;
}

.image * {
  border-radius: 20px;
}

.text {
  flex-shrink: 0;
  margin: auto 0;
  width: 27rem;
  margin-left: 3rem;
}

.title {
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.excerpt {
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.metadata {
  margin-bottom: 0;
  font-weight: bold;
  opacity: 0.3;
}

@media (max-width: 1024px) {
  .text {
    width: 18rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .text {
    box-sizing: border-box;
    margin: 0;
    padding-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .container {
    background-color: #1b1b1b;
    border-radius: 20px;
    overflow: hidden;
  }

  .image,
  .image * {
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .text {
    padding: 1rem;
  }

  .metadata {
    opacity: 0.35;
  }
}
