.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1280px) {
  .container {
    margin: 0 2rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 848px) {
  .container {
    margin: 0 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 0 1rem;
  }

  .main {
    padding: 2rem 0 1rem;
  }
}
