.container {
  padding-top: 2.2rem;
  max-width: 1200px;
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;
  height: 54px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.right {
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.link {
  position: relative;
  font-weight: 600;
  font-size: 0.85rem;
  font-family: "SF Pro Display", "-apple-system", "BlinkMacSystemFont",
    "San Francisco", "Helvetica Neue", "Helvetica", "Ubuntu", "Roboto", "Noto",
    "Segoe UI", "Arial", sans-serif;
  color: #fdf9f2;
  text-decoration: none;
}

.link:hover {
  opacity: 0.6;
  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 60px;
}

.link[data-active="true"]::after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 1px;
  width: 20px;
  background: #fdf9f2;
}

.logoLink {
  display: inline-block;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.logoLink:hover {
  opacity: 0.6;
}

.menuButton {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: none;
}

.bar {
  display: block;
  background-color: #fdf9f2;
  height: 2px;
  border-radius: 2px;
}

.bar:nth-of-type(2) {
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 1280px) {
  .container {
    margin: 0 2rem;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .link:not(:last-child) {
    margin-right: 40px;
  }
}

@media (max-width: 848px) {
  .container {
    margin: 0 2rem;
  }
}

@media (max-width: 768px) {
  .link {
    display: none;
  }

  .menuButton {
    display: block;
  }
}

/* @media (max-width: 520px) {
  .container {
    margin: 0 2rem;
  }
} */
