.open {
  background-color: #111111;
  transform: translate(0, 19.5rem);
  transition: transform 1.1s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-radius 1s cubic-bezier(0.2, 0, 0, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.closed {
  background-color: #111111;
  transition: transform 1.1s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-radius 1.1s cubic-bezier(1, 1, 0.67, 1);
  z-index: 2;
  position: relative;
}
